# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password="

# DEFAULT
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
start fivem-map-skater

# ESSENTIAL
start async
start mysql-async
start essentialmode
start esplugin_mysql
start bob74_ipl
start es_extended
start es_camera
start es_admin2
start instance
start cron
start skinchanger

# ESX
start esx_accessories
start esx_addonaccount #que account é essa?
start esx_addoninventory
start esx_ambulancejob #onde pega medkit e bandage?
start esx_animations #limitar as ações
start esx_atm #mudar para depositar só em banco
start esx_bankerjob #como funciona?
start esx_barbershop
start esx_basicneeds #mudar lugar
start esx_billing
start esx_boilerplate
start esx_clotheshop
#start esx_cruisecontrol #mudar
start esx_datastore
start esx_dmvschool
start esx_drugs
start esx_garage #dá pra duplicar carro, mudar
start esx_holdup
start esx_identity
start esx_joblisting #dá pra tirar alguns trampos nada a ver
start esx_jobs #dá pra tirar alguns trampos nada a ver
start esx_license
start esx_lscustom
start esx_mask
start esx_mecanojob
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_phone #testar o esx_phone3
start esx_policejob
#start esx_property
#start esx_realestateagentjob
start esx_rpchat
start esx_service
start esx_shops #checar e add mais pontos
start esx_skin
#start esx_society
start esx_status #ajuda no basicneeds
start esx_taxijob
start esx_vehicleshop
start esx_voice
start esx_weashops

sv_scriptHookAllowed 1

# change this
#rcon_password lul

sv_hostname "Zattest"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:1100001067748a0 group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
sv_endpointprivacy true

# server slots limit (must be between 1 and 31)
sv_maxclients 6

# license key for server (https://keymaster.fivem.net)
sv_licenseKey 0q6sppcng70ab57kusqisixcd2dbiu73

set vb_enable_pvp true
set vb_disable_wanted_level true
set vb_disable_emergency_services true
set vb_force_god_mode_enabled falseset vb_enable_welcome_message true
set vb_make_welcome_message_global false
set vb_welcome_message "Seja bem-vindo {player}, siga as regras e bom roleplay!"
set vb_enable_whitelist true
set vb_whitelist_kick_message "Você não está na whitelist! Entre no discord.gg(inserir discord aqui)"
set vb_enable_crowd_control true
set vb_enable_traffic_control true
set vb_crowd_density 0.7
set vb_traffic_density 0.7
set vb_enable_unlimited_stamina false
set vb_check true
set vb_debug false
start vBasic

add_ace identifier.steam:1100001067748a0 vbasic.whitelisted allow
add_ace identifier.steam:110000103ed4e6c vbasic.whitelisted allow